[Desktop Entry]
Encoding=UTF-8
Name=Tpc-Qt (Reindex)
Comment=Tpc P2P gaming related cryptocurrency
Comment[fr]=Tpc, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Tpc, eşten eşe kriptografik sanal para birimi
Exec=tpc-qt --reindex %u
Terminal=false
Type=Application
Icon=tpc128
MimeType=x-scheme-handler/tpc;
Categories=Office;Finance;
